/.vscode
main
glucose
/OGDF
stats
*.svg
*.DS_Store
gen
stats_ogdf
/generated-graphs*
/output-svgs*
/CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json
/build
cnf_logs.txt
unit_clauses_logs.txt
libcore.a
/rome_graphs
test_results.csv
CMakeDoxy*
/cmake-*