body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav span {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 1rem 4rem;
    text-decoration: solid;
    font-weight: bold;
    font-size: 1.5rem;
}

.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 1.5rem;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 0.6rem 0.9rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.4rem;
    border: 0.2rem solid green;
    border-radius: 5%;
}

.button:hover {
    background-color: #5bc39d;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

input[type="file"] {
    display: none;
}
  
.custom-file-upload {
    border: 0.2rem solid #04AA6D;
    display: inline-block;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

#control-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

#control-panel div {
    margin: 0 1.5rem;
}

#drawings-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

svg {
    margin-top: 2rem;
    width: 26rem;
    height: 26rem;
}

.svg-container {
    border: 0.2rem solid #333;
    padding: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45rem;
    height: 40rem;
}

#red-graph-upload {
    border: 0.2rem solid red;
}

#blue-graph-upload {
    border: 0.2rem solid blue;
}

.download-buttons {
    margin-top: auto;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.enabled {
    opacity: 1;
    cursor: pointer;
}


#embedding-svg {
    width: 100%;
    height: 100%;
    overflow: auto;
}

#embedding-svg > svg {
    display: block;
    width: 100%;
    height: 100%;
}

#example-graphs-container {
    margin-top: 2rem;
    text-align: center;
}

form {
    display: inline-block;
    margin-left: 2rem;
}

form label {
    font-size: 1.4rem;
    margin-right: 1rem;
}

form select {
    font-size: 1.4rem;
    padding: 0.3rem;
    margin-right: 1rem;
}